In [1]:
import os
import re
os.chdir("../../")
import pandas as pd
from src.scraper.parse import *

In [3]:
import requests

r = requests.get(
    "{0:s}{1:s}".format(, url_post),
    auth=self._auth,
    params=params,
    timeout=15.00,
)

{'message': 'You are not subscribed to this API.'}

In [45]:
tonga_lsts = os.listdir("data/tourism/tonga/scraping/")
filepaths = list()
for path in tonga_lsts:
    folder_path = os.getcwd() + "/data/tourism/tonga/scraping/"
    if "Dec" in path:
        filepaths.append(folder_path + path)
    elif "2021" and "Bulletin" in path:
        filepaths.append(folder_path + path)
    else:
        pass

In [46]:
from PIL import Image
from pdf2image import convert_from_path
import pytesseract

doc = convert_from_path(filepaths[0])
path, fileName = os.path.split(filepaths[0])
fileBaseName, fileExtension = os.path.splitext(fileName)

In [47]:
text = pytesseract.image_to_string(doc[12])

In [86]:
for i in page_content[1:]:
    print(i[-1])
    total = 0
    for j in i[1:4]:
        if j.isdigit():
            total += int(j)
#     print(total == int(i[-1]))

59665
65801
72553
86662
86579
77306
93972
11546
202
7640
3856
5911
5477
5141
8408
9046
6107
5317
9545

6288
4688
6157
8686
7704
6800
8934
8315
8178
7829
8255
7722
10704
7087
4692
1259
-
-
-
1
5
16
13
20
23
18
180
252
25
229
52
22
14
6
207
-
-
PO
Fax

In [61]:
page_content = []
for i, v in enumerate(text.split("\n")[3:]):
    elements = v.split(" ")
    elements = [re.sub(r'[^\w-]+', '', ele).strip() for ele in elements]
    print(elements)
    if len(elements) > 5:
        page_content.append(elements[:5])

['Period', 'Yacht', 'Total', 'Ship', '', 'Yacht', 'Total', 'Ship', 'Yacht', 'Total', 'Ship', 'Yacht', 'Total']
['2013', '48188', '9432', '2045', '59665', '25808', '25808', '73996', '9432', '2045', '85473', '73938', '9427', '1769', '85134', '339']
['2014', '50436', '13733', '1632', '65801', '26573', '26573', '77009', '13733', '1632', '92374', '78604', '13724', '1762', '94090', '1716']
['2015', '53752', '17375', '1426', '72553', '31517', '31517', '85269', '17375', '1426', '104070', '86574', '17383', '1422', '105379', '1309']
['2016', '59130', '25714', '1818', '86662', '36800', '36800', '95930', '25714', '1818', '123462', '95043', '25703', '1520', '122266', '1196']
['2017', '62506', '21719', '2354', '86579', '38124', '38124', '100630', '21719', '2354', '124703', '99280', '21698', '1992', '122970', '1733']
['2018', '54046', '21708', '1552', '77306', '51428', '51428', '', '105474', '21708', '1552', '128734', '108770', '21714', '1602', '132086', '3352']
['2019', '67284', '24667', '2021', '93972', '42087', '42087', '', '109374', '24667', '2021', '136059', '112714', '24749', '2064', '139527', '3468']
['2020', '9010', '2530', '6', '11546', '13836', '13836', '22846', '2530', '6', '25382', '26769', '2529', '8', '29306', '3924']
['2021', '202', '-', '-', '202', '1701', '', '1701', '1903', '-', '1903', '4132', '-', '-', '4132', '2229']
['2018']
['Jan', '4294', '3346', '-', '7640', '4828', '4828', '9122', '3346', '12468', '12147', '3349', '6', '15502', '3034']
['Feb', '2336', '1520', '-', '3856', '3217', '3217', '5553', '1520', '7073', '6686', '1526', '-', '8212', '1139']
['Mar', '2835', '3062', '14', '5911', '3205', '3205', '6040', '3062', '14', '9116', '7376', '3062', '4', '10439', '1323']
['Apr', '3099', '2344', '34', '5477', '3309', '3309', '6408', '2344', '34', '8786', '6454', '2343', '39', '8836', '50']
['May', '4348', '627', '166', '5141', '5385', '5385', '9733', '627', '166', '10526', '8275', '631', '56', '8962', '1564']
['Jun', '4785', '3318', '305', '8408', '4711', '4711', '9496', '3318', '305', '13119', '7962', '3316', '275', '11553', '1566']
['Jul', '7011', '1861', '174', '9046', '3960', '3960', '10974', '1861', '174', '13006', '11444', '1863', '272', '13579', '573']
['Aug', '5855', '-', '252', '6107', '3868', '3868', '9723', '-', '252', '9975', '10408', '319', '10727', '752']
['Sep', '5061', '-', '256', '5317', '4200', '4200', '9261', '-', '256', '9517', '8976', '-', '316', '9292', '225']
['Oct', '4504', '4746', '295', '9545', '3948', '3948', '8452', '4746', '295', '13493', '9781', '4744', '218', '14743', '1250']
['Nov', '3636', '884', '50', '', '4570', '4776', '4776', '8412', '884', '50', '9346', '8520', '880', '88', '9488', '142']
['Dec', '6282', '-', '6', '6288', '6021', '6021', '12303', '6', '12309', '10741', '-', '12', '10753', '1556']
['2019']
['an', '4372', '313', '3', '4688', '5352', '5352', '9724', '313', '3', '10040', '12073', '313', '3', '12389', '2349']
['Feb', '2709', '3448', '-', '6157', '2719', '2719', '5428', '3448', '8876', '6889', '3497', '-', '10386', '1510']
['Mar', '3109', '5570', '7', '8686', '2846', '2846', '5955', '5570', '7', '14532', '6686', '5569', '3', '12258', '726']
['Apr', '4183', '3508', '13', '7704', '', '3094', '3094', '7274', '3508', '13', '10795', '7195', '3509', '9', '10713', '82']
['May', '5166', '1506', '128', '6800', '4132', '4132', '9298', '1506', '128', '10932', '8041', '1512', '83', '9636', '1296']
['Jun', '6647', '1798', '489', '8934', '3505', '3505', '10152', '1798', '489', '12439', '7722', '1798', '602', '10122', '2317']
['Jul', '8121', '-', '194', '8315', '3092', '3092', '11213', '194', '11407', '11754', '-', '346', '12100', '693']
['Aug', '7890', '-', '288', '8178', '3302', '3302', '11192', '-', '288', '11480', '11517', '218', '11735', '255']
['Sep', '6811', '636', '382', '7829', '3418', '3418', '10229', '636', '382', '11247', '9987', '636', '209', '10832', '415']
['Oct', '5649', '2178', '428', '8255', '3782', '3782', '9434', '2178', '428', '12037', '10611', '2181', '394', '13186', '1149']
['Nov', '4938', '2712', '72', '7722', '3595', '3595', '8533', '2712', '72', '11317', '8786', '2743', '171', '11700', '383']
['Dec', '7689', '2998', '17', '10704', '3253', '3253', '10942', '2998', '17', '13957', '11453', '2991', '26', '14470', '513']
['2020']
['Jan', '4665', '852', '5517', '7087', '7087', '11752', '852', '12604', '14576', '851', '-', '15427', '2823']
['Feb', '3008', '1678', '6', '4692', '3328', '3328', '6336', '1678', '6', '8020', '6680', '1678', '8', '8366', '346']
['Mar', '1259', '-', '-', '1259', '2219', '2219', '3478', '3478', '3778', '-', '-', '3778', '300']
['Apr', '-', '-', '-', '-', '-', '-', '-', '579', '-', '-', '579', '579']
['May', '-', '-', '-', '-', '-', '-', '-', '-', '93', '-', '-', '93', '93']
['Jun', '-', '-', '-', '-', '-', '-', '-', '-', '-', '62', '-', '-', '62', '62']
['Jul', '1', '-', '-', '1', '56', '56', '57', '-', '57', '96', '-', '-', '96', '39']
['Aug', '5', '-', '-', '5', '145', '145', '150', '-', '150', '130', '-', '-', '130', '20']
['Sep', '16', '-', '-', '16', '84', '84', '100', '-', '100', '100', '-', '-', '100']
['Oct', '13', '-', '-', '13', '379', '379', '392', '-', '392', '218', '-', '-', '218', '174']
['Nov', '20', '-', '-', '20', '275', '275', '295', '295', '196', '-', '-', '196', '99']
['Dec', '23', '-', '-', '23', '263', '263', '286', '286', '261', '-', '-', '261', '25']
['2021']
['Jan', '18', '-', '-', '18', '219', '219', '237', '-', '237', '207', '207', '30']
['Feb', '41', '-', '41', '180', '180', '221', '-', '221', '407', '-', '407', '186']
['Mar', '23', '23', '252', '252', '275', '275', '406', '406', '134']
['Apr', '2', '-', '2', '25', '25', '27', '-', '27', '441', '-', '-', '441', '414']
['May', '18', '18', '229', '229', '247', '247', '368', '368', '124']
['Jun', '52', '-', '-', '52', '453', '453', '505', '505', '339', '339', '166']
['Jul', '22', '-', '-', '22', '130', '130', '152', '152', '220', '220', '68']
['Aug', '14', '-', '-', '14', '-', '-', '14', '-', '14', '63', '63', '49']
['Sep', '4', '4', '6', '6', '10', '10', '380', '380', '370']
['Oct', '8', '8', '207', '207', '215', '215', '479', '479', '264']
['Nov', '-', '-', '-', '-', '-', '429', '429', '429']
['Dec', '-', '-', '-', '-', '-', '393', '393', '393']
['']
['Issued', 'by', 'Statistics', 'Department', 'PO', 'Box', '149', 'Nukualofa', 'Kingdom', 'of', 'Tonga']
['']
['wwwspeintprismtonga']
['']
['Telephone', '676', '23-300', '23-913', 'Fax', '67624', '303']
['Page', '12']
['']
['']

In [2]:
from src.scraper.parse import *

In [98]:
page_content

[['Period', 'Yacht', 'Total', 'Ship', ''],
 ['2013', '48188', '9432', '2045', '59665'],
 ['2014', '50436', '13733', '1632', '65801'],
 ['2015', '53752', '17375', '1426', '72553'],
 ['2016', '59130', '25714', '1818', '86662'],
 ['2017', '62506', '21719', '2354', '86579'],
 ['2018', '54046', '21708', '1552', '77306'],
 ['2019', '67284', '24667', '2021', '93972'],
 ['2020', '9010', '2530', '6', '11546'],
 ['2021', '202', '-', '-', '202'],
 ['Jan', '4294', '3346', '-', '7640'],
 ['Feb', '2336', '1520', '-', '3856'],
 ['Mar', '2835', '3062', '14', '5911'],
 ['Apr', '3099', '2344', '34', '5477'],
 ['May', '4348', '627', '166', '5141'],
 ['Jun', '4785', '3318', '305', '8408'],
 ['Jul', '7011', '1861', '174', '9046'],
 ['Aug', '5855', '-', '252', '6107'],
 ['Sep', '5061', '-', '256', '5317'],
 ['Oct', '4504', '4746', '295', '9545'],
 ['Nov', '3636', '884', '50', ''],
 ['Dec', '6282', '-', '6', '6288'],
 ['an', '4372', '313', '3', '4688'],
 ['Feb', '2709', '3448', '-', '6157'],
 ['Mar', '3109', '5570', '7', '8686'],
 ['Apr', '4183', '3508', '13', '7704'],
 ['May', '5166', '1506', '128', '6800'],
 ['Jun', '6647', '1798', '489', '8934'],
 ['Jul', '8121', '-', '194', '8315'],
 ['Aug', '7890', '-', '288', '8178'],
 ['Sep', '6811', '636', '382', '7829'],
 ['Oct', '5649', '2178', '428', '8255'],
 ['Nov', '4938', '2712', '72', '7722'],
 ['Dec', '7689', '2998', '17', '10704'],
 ['Jan', '4665', '852', '5517', '7087'],
 ['Feb', '3008', '1678', '6', '4692'],
 ['Mar', '1259', '-', '-', '1259'],
 ['Apr', '-', '-', '-', '-'],
 ['May', '-', '-', '-', '-'],
 ['Jun', '-', '-', '-', '-'],
 ['Jul', '1', '-', '-', '1'],
 ['Aug', '5', '-', '-', '5'],
 ['Sep', '16', '-', '-', '16'],
 ['Oct', '13', '-', '-', '13'],
 ['Nov', '20', '-', '-', '20'],
 ['Dec', '23', '-', '-', '23'],
 ['Jan', '18', '-', '-', '18'],
 ['Feb', '41', '-', '41', '180'],
 ['Mar', '23', '23', '252', '252'],
 ['Apr', '2', '-', '2', '25'],
 ['May', '18', '18', '229', '229'],
 ['Jun', '52', '-', '-', '52'],
 ['Jul', '22', '-', '-', '22'],
 ['Aug', '14', '-', '-', '14'],
 ['Sep', '4', '4', '6', '6'],
 ['Oct', '8', '8', '207', '207'],
 ['Nov', '-', '-', '-', '-'],
 ['Dec', '-', '-', '-', '-'],
 ['Issued', 'by', 'Statistics', 'Department', 'PO'],
 ['Telephone', '676', '23-300', '23-913', 'Fax']]

In [97]:
months_df["Air Ship"].str.split(" ", )

TypeError: split() takes from 1 to 2 positional arguments but 3 were given

In [63]:
raw = load_pdf(filepaths[0], "Monthly Arrival and Departure", table_page=0)

temp_columns = raw.iloc[0].tolist()
raw.columns = temp_columns
raw = raw.iloc[1:].reset_index(drop=True)

latest_year_idx, year_idxs, month_idxs = separate_years_months(raw, "Period")
months_df = raw.iloc[month_idxs].reset_index(drop=True)
start_year = detect_year(months_df.iloc[0])
months_df = months_df.iloc[:, 0:4].dropna(how="all").reset_index(drop=True)

CodeCache: size=131072Kb used=7220Kb max_used=7220Kb free=123851Kb
 bounds [0x00000002a76a8000, 0x00000002a7dc8000, 0x00000002af6a8000]
 total_blobs=2449 nmethods=1964 adapters=400
 compilation: disabled (not enough contiguous free space left)

Java HotSpot(TM) 64-Bit Server VM warning: CodeCache is full. Compiler has been disabled.
Java HotSpot(TM) 64-Bit Server VM warning: Try increasing the code cache size using -XX:ReservedCodeCacheSize=

In [78]:
def separate_data(df: pd.DataFrame,
                  var: str,
                  split_rule: str):

    splited_lst = var.split(split_rule)
    var_number = len(splited_lst)

    obj = dict()
    for i in range(var_number):
        obj[str(splited_lst[i])] = []

    for i in df[var]:
        elems = i.split(" ")
        length = len(elems)
        if length == var_number:
            idx, var = 0, list(obj.keys())
            while idx < length:
                key, val = var[idx], elems[idx]
                obj[key].append(val)
                idx += 1

        elif length < var_number:
            idx, var = 0, list(obj.keys())
            print(elems)
            while idx < length and len(elems) != 0:
                key, val = var[idx], elems[idx].split(" ")[0]
                obj[key].append(val)
                elems = i.replace(val, "").strip()
                idx += 1
            else:
                key, val = var[idx], 0
                obj[key].append(val)
                idx += 1

        else:
            idx, var = 0, list(obj.keys())
            while idx < var_number:
                key, val = var[idx], elems[idx]
                obj[key].append(val)
                idx += 1
            else:
                key, val = var[-1], elems[idx]
                prev_val = obj[key][-1]
                obj[key][-1] = prev_val + val

    for i in range(var_number):
        df[str(splited_lst[i])] = obj[list(obj.keys())[i]]

    return df
separate_data(months_df, "Air Ship", " ")

['4']
['8']
['-']
['-']

   Period     Air Ship Yacht   Total    Air   Ship
0     Jan  4,294 3,346     -  7 ,640  4,294  3,346
1     Feb  2,336 1,520     -  3 ,856  2,336  1,520
2     Mar  2,835 3,062    14   5,911  2,835  3,062
3     Apr  3,099 2,344    34   5,477  3,099  2,344
4     May    4,348 627  1 66  5 ,141  4,348    627
5     Jun  4,785 3,318   305  8 ,408  4,785  3,318
6     Jul  7,011 1,861   174   9,046  7,011  1,861
7     Aug      5,855 -  2 52  6 ,107  5,855      -
8     Sep      5,061 -  2 56   5,317  5,061      -
9     Oct  4,504 4,746  2 95   9,545  4,504  4,746
10    Nov    3,636 884    50  4 ,570  3,636    884
11    Dec      6,282 -     6   6,288  6,282      -
12    Jan    4,372 313     3  4 ,688  4,372    313
13    Feb  2,709 3,448     -  6 ,157  2,709  3,448
14    Mar  3,109 5,570     7  8 ,686  3,109  5,570
15    Apr  4,183 3,508    13   7,704  4,183  3,508
16    May  5,166 1,506  1 28  6 ,800  5,166  1,506
17    Jun  6,647 1,798  4 89   8,934  6,647  1,798
18    Jul      8,121 -   194   8,315  8,121      -
19    Aug      7,890 -  2 88  8 ,178  7,890      -
20    Sep    6,811 636   382   7,829  6,811    636
21    Oct  5,649 2,178   428  8 ,255  5,649  2,178
22    Nov  4,938 2,712    72  7 ,722  4,938  2,712
23    Dec  7,689 2,998    17  10,704  7,689  2,998
24    Jan    4,665 852   NaN   5,517  4,665    852
25    Feb  3,008 1,678     6   4,692  3,008  1,678
26    Mar      1,259 -     -  1 ,259  1,259      -
27    Apr          - -     -       -      -      -
28    May          - -     -       -      -      -
29    Jun          - -     -       -      -      -
30    Jul          1 -     -       1      1      -
31    Aug          5 -     -       5      5      -
32    Sep        1 6 -     -      16      1     6-
33    Oct        1 3 -     -      13      1     3-
34    Nov        2 0 -     -      20      2     0-
35    Dec        2 3 -     -      23      2     3-
36    Jan        1 8 -     -      18      1     8-
37    Feb          4 1     -      41      4      1
38    Mar          2 3   NaN      23      2      3
39    Apr          2 -     -       2      2      -
40    May          1 8   NaN      18      1      8
41    Jun        5 2 -     -      52      5     2-
42    Jul        2 2 -     -      22      2     2-
43    Aug        1 4 -     -      14      1     4-
44    Sep            4   NaN       4      4      0
45    Oct            8   NaN       8      8      0
46    Nov            -   NaN       -      -      0
47    Dec            -   NaN       -      -      0

In [151]:
def split_and_store_data(parts, key, obj):
    for i, v in enumerate(parts):
        obj[key[i]].append(v)
    return obj


def split_and_store_partial_data(parts, key, obj):
    for i, v in enumerate(key):
        if i < len(parts):
            obj[v].append(parts[i])
        else:
            obj[v].append(0)
    return obj

In [149]:
def separate_data(df: pd.DataFrame, var: str, split_rule: str) -> dict:
    """
    Split a column in a DataFrame into multiple columns based on a split rule.

    Args:
        df (pd.DataFrame): The DataFrame containing the data.
        var (str): The name of the column to split.
        split_rule (str): The rule to split the values in the column.

    Returns:
        pd.DataFrame: The DataFrame with the split data in separate columns.
    """
    # Split the var column name using the split_rule

    split_values = var.split(split_rule)
    num_splits = len(split_values)

    split_data = {split: [] for split in split_values}
    print(split_data)
    # Iterate over the values in the var column
    for value in df[var]:

        elements = value.split(" ")
        length = len(elements)
        if length == num_splits:
            split_data = split_and_store_data(elements, split_values,
                                              split_data)
#             for i, v in enumerate(elements):
#                 split_data[split_values[i]].append(v)
        elif length > num_splits:
            if elements[-1] == "-" and length == num_splits + 1:
                new_elements = value.split("-")
                if len(new_elements) == num_splits:
                    for i, v in enumerate(new_elements):
                        split_data[split_values[i]].append(v.strip().replace(
                            " ", ""))

        else:
            split_data = split_and_store_partial_data(elements, split_values,
                                              split_data)


#             for i in range(num_splits):
#                 if i < length:
#                     split_data[split_values[i]].append(elements[i])
#                 else:
#                     split_data[split_values[i]].append(0)

    return split_data

c = separate_data(months_df, "Air Ship", " ")

{'Air': [], 'Ship': []}
['4']
['8']
['-']
['-']

In [150]:
pd.DataFrame(c)

      Air   Ship
0   4,294  3,346
1   2,336  1,520
2   2,835  3,062
3   3,099  2,344
4   4,348    627
5   4,785  3,318
6   7,011  1,861
7   5,855      -
8   5,061      -
9   4,504  4,746
10  3,636    884
11  6,282      -
12  4,372    313
13  2,709  3,448
14  3,109  5,570
15  4,183  3,508
16  5,166  1,506
17  6,647  1,798
18  8,121      -
19  7,890      -
20  6,811    636
21  5,649  2,178
22  4,938  2,712
23  7,689  2,998
24  4,665    852
25  3,008  1,678
26  1,259      -
27      -      -
28      -      -
29      -      -
30      1      -
31      5      -
32     16
33     13
34     20
35     23
36     18
37      4      1
38      2      3
39      2      -
40      1      8
41     52
42     22
43     14
44      4      0
45      8      0
46      -      0
47      -      0

In [28]:


months = pd.DataFrame()

for file in filepaths[:-1]:
    print(file)

    df = load_pdf(file, "Monthly Arrival and Departure", table_page=-5)
    latest_year, year_idx, month_idx = split_time(df, "Period")
    month = df.iloc[month_idx, 0:4]
    start_year = detect_year(df.iloc[month_idx].iloc[0])

    month = (month.dropna(how="all").reset_index()
             .drop("index", axis=1))

    print(f"The file starts from {start_year}.")

    month = separate_data(month, "Air Ship", " ").drop("Air Ship", axis=1)
    month = remove_separator(month)
    month = month.replace(r'^\s*$', 0, regex=True)

    if check_quality(month, ["Period", "Year"], "Total") == False:
        name = file.split("/")[-1].split(".")[0]
        print("  ", name, "could go wrong!")

    generate_time(month, start_year)
    months = pd.concat([months, month], axis=0)

months = (months[["Year", "Period", "Air", "Ship", "Yacht", "Total"]]
          .drop_duplicates()
          .sort_values(by="Year")
          .reset_index()
          .drop("index", axis=1))

# Clean the datetime format
time = list()
for idx in months.index:
    month, year = months["Period"][idx], str(months["Year"][idx])
    if type(month) == str:
        try:
            YM = year + month
            time.append(datetime.strptime(YM, "%Y%B"))
        except:
            time.append(datetime.strptime(YM, "%Y%b"))
    else:
        time.append(month)

months["time"] = time
months = months.sort_values(by="time")

months

# Check for duplicates (e.g. Dec vs December in different years)
colnames = months.columns[~months.columns.isin(["Period"])]
indexes = months[colnames].drop_duplicates().index
months = months.iloc[indexes].reset_index().drop("index", axis=1)

# # Save the file
# months.to_csv("data/tourism/tonga/tonga_monthly_visitor.csv",
#               encoding="utf-8")

/Users/czhang/Desktop/pacific-observatory/data/tourism/tonga/scraping/Statistical-Bulletin-on-International-Arrivals-and-Departures-2021.pdf

NameError: name 'split_time' is not defined

In [18]:


error_lsts = list()
for file in tonga_lsts:
    if ".pdf" in file:
        print(f"{file} has started")

        try:
            filepath = os.getcwd() + "/data/tourism/tonga/" + file

            df = load_pdf(filepath, "Total Visitors by Usual Residence and Purpose of Visit",
                          table_page=5, table_seq=-1)

            df = df.dropna(how="all", axis=1)

            colname_lst = df.iloc[0].to_list()
            colname_lst[0:2] = ["Country", "Total"]
            df.columns = colname_lst

            df = separate_data(df, "Conference Friends").drop("Conference Friends", axis=1)
            df = (df.iloc[1:-2, :]
                    .dropna(how="all", axis=1)
                    .reset_index().
                    drop("index", axis=1))

            saved_path = os.getcwd() + "/data/tourism/tonga/temp/" + file.split(".")[0] + ".csv"

            df.to_csv(saved_path, encoding="utf-8")

        except:
            print(f"{file} has an error.")
            error_lsts.append(file)

with open(os.getcwd() + "/data/tourism/tonga/temp/error.txt", "w") as file:
    file.write("\n".join(error_lsts))

05-May-Migration-Report-2015.pdf has started
05-May-Migration-Report-2015.pdf has an error.
09-September-Migration-Report-2014.pdf has started
09-September-Migration-Report-2014.pdf has an error.
13-Annual-Migration-Report-2013.pdf has started
13-Annual-Migration-Report-2013.pdf has an error.
Migration-Report-Jun-2017.pdf has started
Migration-Report-Jun-2017.pdf has an error.
11-Migration-Report-Nov-2016.pdf has started
11-Migration-Report-Nov-2016.pdf has an error.
09-September-Migration-Report-2015.pdf has started
09-September-Migration-Report-2015.pdf has an error.
05-May-Migration-Report-2014.pdf has started
05-May-Migration-Report-2014.pdf has an error.
07-July-Migration-Report-2014.pdf has started
07-July-Migration-Report-2014.pdf has an error.
10-Migration-Report-Oct-2016.pdf has started
10-Migration-Report-Oct-2016.pdf has an error.
Migration-March-Report-2021.pdf has started
Migration-March-Report-2021.pdf has an error.
01-January-Migration-Report-2014.pdf has started
01-January-Migration-Report-2014.pdf has an error.
Migration-Report-Oct-2017.pdf has started
Migration-Report-Oct-2017.pdf has an error.
08-Migration-Report-Aug-2016.pdf has started
08-Migration-Report-Aug-2016.pdf has an error.
01-January-Migration-Report-2015.pdf has started
01-January-Migration-Report-2015.pdf has an error.
Migration-June-Report-2019.pdf has started
Migration-June-Report-2019.pdf has an error.
Migration-March-Report-2020.pdf has started
Migration-March-Report-2020.pdf has an error.
03-Migration-Report-Mar-2016.pdf has started
03-Migration-Report-Mar-2016.pdf has an error.
07-July-Migration-Report-2015.pdf has started
07-July-Migration-Report-2015.pdf has an error.
05-May-Migration-Report-2013.pdf has started
05-May-Migration-Report-2013.pdf has an error.
04-Migration-Report-Apr-2016.pdf has started
04-Migration-Report-Apr-2016.pdf has an error.
Migration-June-Report-2021.pdf has started
Migration-June-Report-2021.pdf has an error.
13-Annual-Migration-Report-2015.pdf has started
13-Annual-Migration-Report-2015.pdf has an error.
Migration-Report-Feb-2017.pdf has started
Migration-Report-Feb-2017.pdf has an error.
13-Annual-Migration-Report-2014.pdf has started
13-Annual-Migration-Report-2014.pdf has an error.
Migration-June-Report-2020.pdf has started
Migration-June-Report-2020.pdf has an error.
Migration-March-Report-2019.pdf has started
Migration-March-Report-2019.pdf has an error.
09-September-Migration-Report-2013.pdf has started
09-September-Migration-Report-2013.pdf has an error.
09-September-Migration-2012.pdf has started
09-September-Migration-2012.pdf has an error.
02-Feburary-Migration-Report-2015.pdf has started
02-Feburary-Migration-Report-2015.pdf has an error.
Statistical-Bulletin-on-International-Arrivals-and-Departures-2021.pdf has started
Statistical-Bulletin-on-International-Arrivals-and-Departures-2021.pdf has an error.
06-Migration-Report-Jun-2016.pdf has started
06-Migration-Report-Jun-2016.pdf has an error.
01-January-Migration-Report-2013.pdf has started
01-January-Migration-Report-2013.pdf has an error.
07-July-Migration-Report-2013.pdf has started
07-July-Migration-Report-2013.pdf has an error.
Migration-Report-Jan-2017.pdf has started
Migration-Report-Jan-2017.pdf has an error.
Migration-February-Report-2019.pdf has started
Migration-February-Report-2019.pdf has an error.
06-June-Migration-2012.pdf has started
06-June-Migration-2012.pdf has an error.
01-Migration-Report-Jan-2016.pdf has started
01-Migration-Report-Jan-2016.pdf has an error.
Migration-Report-Nov-2017.pdf has started
Migration-Report-Nov-2017.pdf has an error.
04-April-Migration-Report-2015.pdf has started
04-April-Migration-Report-2015.pdf has an error.
04-April-Migration-Report-2014.pdf has started
04-April-Migration-Report-2014.pdf has an error.
Migration-Report-Aug-2017.pdf has started
Migration-Report-Aug-2017.pdf has an error.
Migration-Report-Dec-2017.pdf has started
Migration-Report-Dec-2017.pdf has an error.
05-Migration-Report-May-2016.pdf has started
05-Migration-Report-May-2016.pdf has an error.
04-April-Migration-Report-2013.pdf has started
04-April-Migration-Report-2013.pdf has an error.
Migration-December-Report-2019.pdf has started
Migration-December-Report-2019.pdf has an error.
Migration-October-Report-2020.pdf has started
Migration-October-Report-2020.pdf has an error.
08-August-Migration-2012.pdf has started
08-August-Migration-2012.pdf has an error.
Migration-January-Report-2020.pdf has started
Migration-January-Report-2020.pdf has an error.
07-July-Migration-2012.pdf has started
07-July-Migration-2012.pdf has an error.
Migration-August-Report-2019.pdf has started
Migration-August-Report-2019.pdf has an error.
12-December-Migration-Report-2014.pdf has started
12-December-Migration-Report-2014.pdf has an error.
06-June-Migration-Report-2013.pdf has started
06-June-Migration-Report-2013.pdf has an error.
12-December-Migration-Report-2015.pdf has started
12-December-Migration-Report-2015.pdf has an error.
02-February-Migration-Report-2014.pdf has started
02-February-Migration-Report-2014.pdf has an error.
Migration-January-Report-2021.pdf has started
Migration-January-Report-2021.pdf has an error.
Migration-Report-May-2017.pdf has started
Migration-Report-May-2017.pdf has an error.
Migration-January-Report-2019.pdf has started
Migration-January-Report-2019.pdf has an error.
11-November-Migration-2012.pdf has started
11-November-Migration-2012.pdf has an error.
Migration-August-Report-2020.pdf has started
Migration-August-Report-2020.pdf has an error.
Migration-Report-Jan-2018.pdf has started
Migration-Report-Jan-2018.pdf has an error.
Migration-Report-Sep-2017.pdf has started
Migration-Report-Sep-2017.pdf has an error.
Migration-Report-Apr-2017.pdf has started
Migration-Report-Apr-2017.pdf has an error.
Migration-December-Report-2020.pdf has started
Migration-December-Report-2020.pdf has an error.
02-February-Migration-Report-2013.pdf has started
02-February-Migration-Report-2013.pdf has an error.
06-June-Migration-Report-2015.pdf has started
06-June-Migration-Report-2015.pdf has an error.
Migration-Report-Mar-2017.pdf has started
Migration-Report-Mar-2017.pdf has an error.
Migration-October-Report-2019.pdf has started
Migration-October-Report-2019.pdf has an error.
06-June-Migration-Report-2014.pdf has started
06-June-Migration-Report-2014.pdf has an error.
12-December-Migration-Report-2013.pdf has started
12-December-Migration-Report-2013.pdf has an error.
Migration-Report-Jul-2017.pdf has started
Migration-Report-Jul-2017.pdf has an error.
Migration-November-Report-2019.pdf has started
Migration-November-Report-2019.pdf has an error.
Migration-September-Report-2020.pdf has started
Migration-September-Report-2020.pdf has an error.
03-March-Migration-Report-2013.pdf has started
03-March-Migration-Report-2013.pdf has an error.
11-November-Migration-Report-2013.pdf has started
11-November-Migration-Report-2013.pdf has an error.
10-October-Migration-2012.pdf has started
10-October-Migration-2012.pdf has an error.
Migration-July-Report-2019.pdf has started
Migration-July-Report-2019.pdf has an error.
Migration-Feburary-Report-2021.pdf has started
Migration-Feburary-Report-2021.pdf has an error.
02-Migration-Report-Feb-2016.pdf has started
02-Migration-Report-Feb-2016.pdf has an error.
Migration-April-Report-2020.pdf has started
Migration-April-Report-2020.pdf has an error.
12-Migration-Report-Dec-2016.pdf has started
12-Migration-Report-Dec-2016.pdf has an error.
Migration-May-Report-2020.pdf has started
Migration-May-Report-2020.pdf has an error.
Annual-Migration-Report-2011.pdf has started
Annual-Migration-Report-2011.pdf has an error.
10-October-Migration-Report-2013.pdf has started
10-October-Migration-Report-2013.pdf has an error.
07-Migration-Report-Jul-2016.pdf has started
07-Migration-Report-Jul-2016.pdf has an error.
09-Migration-Report-Sept-2016.pdf has started
09-Migration-Report-Sept-2016.pdf has an error.
Annual-Migration-Report-2010.pdf has started
Annual-Migration-Report-2010.pdf has an error.
08-August-Migration-Report-2013.pdf has started
08-August-Migration-Report-2013.pdf has an error.
Migration-May-Report-2021.pdf has started
Migration-May-Report-2021.pdf has an error.
Migration-April-Report-2021.pdf has started
Migration-April-Report-2021.pdf has an error.
2017-Annual-Migration-Report.pdf has started
2017-Annual-Migration-Report.pdf has an error.
Migration-Feburary-Report-2020.pdf has started
Migration-Feburary-Report-2020.pdf has an error.
Migration-April-Report-2019.pdf has started
Migration-April-Report-2019.pdf has an error.
Migration-May-Report-2019.pdf has started
Migration-May-Report-2019.pdf has an error.
03-March-Migration-Report-2015.pdf has started
03-March-Migration-Report-2015.pdf has an error.
11-November-Migration-Report-2014.pdf has started
11-November-Migration-Report-2014.pdf has an error.
11-November-Migration-Report-2015.pdf has started
11-November-Migration-Report-2015.pdf has an error.
03-March-Migration-Report-2014.pdf has started
03-March-Migration-Report-2014.pdf has an error.
12-December-Migration-2012.pdf has started
12-December-Migration-2012.pdf has an error.
Migration-November-Report-2020.pdf has started
Migration-November-Report-2020.pdf has an error.
Migration-July-Report-2021.pdf has started
Migration-July-Report-2021.pdf has an error.
Migration-September-Report-2019.pdf has started
Migration-September-Report-2019.pdf has an error.
08-August-Migration-Report-2014.pdf has started
08-August-Migration-Report-2014.pdf has an error.
10-October-Migration-Report-2015.pdf has started
10-October-Migration-Report-2015.pdf has an error.
10-October-Migration-Report-2014.pdf has started
10-October-Migration-Report-2014.pdf has an error.
08-August-Migration-Report-2015.pdf has started
08-August-Migration-Report-2015.pdf has an error.
Migration-July-Report-2020.pdf has started
Migration-July-Report-2020.pdf has an error.