# Official Data

In [1]:
import os
os.chdir("../../")
import pandas as pd
import numpy as np
import seaborn as sns

from scripts.python.PdfParse import *
from scripts.python.ts_utils import *
from scripts.python.utils import *

In [2]:
countries_df = pd.DataFrame()
for country in ["palau", "solomon", "vanuatu"]:
    path = os.getcwd() + "/data/tourism/" + str(country) + \
        "/intermediate/" + str(country) + "_monthly_visitor.csv"
    df = pd.read_csv(path).drop("Unnamed: 0", axis=1)
    df.columns = [col.lower() for col in df.columns]
    df["country"] = str(country)
    temp = df[["date", "country", "total"]]
    print(f"{country.upper()}'s ADF test results:")
    display(get_adf_df(temp, ["total"]))
    countries_df = pd.concat([countries_df, temp], axis=0)

PALAU's ADF test results:

,Test Statistic,p-value,# Lags Used,Number of Observations Used,Critical Value (1%),Critical Value (5%),Critical Value (10%)
total,-1.230261,0.660444,13.0,170.0,-3.469413,-2.878696,-2.575917

SOLOMON's ADF test results:

,Test Statistic,p-value,# Lags Used,Number of Observations Used,Critical Value (1%),Critical Value (5%),Critical Value (10%)
total,-2.393654,0.143535,14.0,129.0,-3.482088,-2.884219,-2.578864

VANUATU's ADF test results:

,Test Statistic,p-value,# Lags Used,Number of Observations Used,Critical Value (1%),Critical Value (5%),Critical Value (10%)
total,-2.425354,0.134708,13.0,211.0,-3.461727,-2.875337,-2.574124