In [2]:
import os
os.chdir("../../../../")
import numpy as np
import pandas as pd


import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [3]:
ship = pd.read_excel("Port Calls.xlsx", sheet_name=0)

In [5]:
psg_ship = ship[ship["SubType"] == "Cruise Ship"]

timecols = ["departure_dt_pos_utc",
            "prev_departure_dt_pos_utc",
            "arrival_dt_pos_utc",
            "date"]

for col in timecols:
    psg_ship[col] = pd.to_datetime(psg_ship[col])

psg_ship = (psg_ship[(psg_ship["arrival_dt_pos_utc"] >= "2019-01-01")
                     & (psg_ship["arrival_dt_pos_utc"] <= "2023-01-01")]
            .reset_index()
            .drop("index", axis=1))
psg_ship.head(5)

,mmsi,imo,vessel_name,Country,Port,vessel_type,arrival_dt_pos_utc,arrival_draught,arrival_destination,count_ais,...,SubType,match_ihs,ihs_imo,ExName_perdate,ExName_eff_until_date,ihs_mmsi,fin_match,lev_ShipName,lev_ExName,lev_ExName_perdate
0,229136000,9188647,CARNIVAL SPIRIT,Fiji,SUVA HARBOR,Passenger,2019-02-17 18:48:11,8.2,MARE,610,...,Cruise Ship,imo,9188647,CARNIVAL SPIRIT,2023-03-30,311001095.0,okay - match ship name,0.0,1.0,0.0
1,229136000,9188647,CARNIVAL SPIRIT,Fiji,SUVA HARBOR,Passenger,2019-11-15 18:42:06,8.2,SUVA,608,...,Cruise Ship,imo,9188647,CARNIVAL SPIRIT,2023-03-30,311001095.0,okay - match ship name,0.0,1.0,0.0
2,229136000,9188647,CARNIVAL SPIRIT,Fiji,SUVA HARBOR,Passenger,2019-12-23 18:57:52,8.5,ISLE OF PINES,722,...,Cruise Ship,imo,9188647,CARNIVAL SPIRIT,2023-03-30,311001095.0,okay - match ship name,0.0,1.0,0.0
3,229378000,9616230,EUROPA 2,Fiji,SUVA HARBOR,Passenger,2019-02-06 19:48:10,6.3,LAUTOKA,784,...,Cruise Ship,imo x mmsi,9616230,EUROPA 2,2023-03-30,NaN,okay - match ship name,0.0,1.0,0.0
4,229857000,9224726,CARNIVAL LEGEND,Fiji,SUVA HARBOR,Passenger,2019-01-01 18:09:35,8.2,SUVA,1233,...,Cruise Ship,imo,9224726,CARNIVAL LEGEND,2023-03-30,311001094.0,okay - match ship name,0.0,1.0,0.0

In [10]:
psg_ship_count = (psg_ship[["Country", "mmsi", "year", "month"]].groupby(by=["Country", "year", "month"])
                  .count()
                  .reset_index())
psg_ship_count["date"] = [str(y) + "-" + str(m) + "-01" for y, m
                          in zip(psg_ship_count["year"], psg_ship_count["month"])]
psg_ship_count["date"] = pd.to_datetime(psg_ship_count["date"])
psg_ship_count = psg_ship_count.pivot(
    index='date', columns="Country", values='mmsi').fillna(0)
psg_ship_count.columns.name = None
date_range = pd.DataFrame(pd.date_range(start="2020-01-01",
                                        end="2022-12-01", freq="MS"),
                          columns=["date"])
psg_ship_count = date_range.merge(psg_ship_count, how="left", on="date").fillna(0)
psg_ship_count.to_csv(os.getcwd()+"/data/tourism/pic_cruise_count.csv", encoding="utf-8")
psg_ship_count

,date,Fiji,Kiribati,Marshall Islands,Micronesia,Palau,Papua New Guinea,Samoa,Solomon Islands,Tonga,Vanuatu
0,2020-01-01,13.0,1.0,1.0,0.0,3.0,7.0,0.0,0.0,1.0,16.0
1,2020-02-01,14.0,0.0,0.0,0.0,3.0,6.0,0.0,1.0,2.0,9.0
2,2020-03-01,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,5.0
3,2020-04-01,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,2020-05-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2020-06-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2020-07-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2020-08-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2020-09-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2020-10-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,2020-11-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,2020-12-01,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,2021-01-01,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,2021-02-01,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,2021-03-01,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,2021-04-01,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,2021-05-01,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,2021-06-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,2021-07-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,2021-08-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,2021-09-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,2021-10-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,2021-11-01,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,2021-12-01,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,2022-01-01,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,2022-02-01,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,2022-03-01,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,2022-04-01,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
28,2022-05-01,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
29,2022-06-01,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
30,2022-07-01,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
31,2022-08-01,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
32,2022-09-01,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
33,2022-10-01,15.0,0.0,0.0,0.0,0.0,0.0,3.0,4.0,4.0,1.0
34,2022-11-01,5.0,0.0,0.0,0.0,1.0,0.0,1.0,3.0,0.0,4.0
35,2022-12-01,10.0,0.0,0.0,0.0,1.0,0.0,2.0,1.0,0.0,10.0